<html ng-app="myApp">
<head>
  <title>Module</title>
</head>
<body ng-controller="MyController">

  <my-blinking-hello-world></my-blinking-hello-world>

  <button ng-click="MyAction()">Turn New World!</button>
  
  <script src="jquery.js"></script>
  <script src="angular.js"></script>

  <script>
    /*
    * Module
    */
    var module = angular.module('myApp', []);

    /*
    * Controller
    */
    module.controller('MyController', ['$scope', 'MyService', function($scope, MyService) {

      $scope.MyProperty = "World!";

      $scope.MyAction = function() {
        $scope.MyProperty = MyService.getNewWorld();
      };

    }]);

    /*
    * Directive
    */
    module.directive('myBlinkingHelloWorld', [function() {
      return {
        /* restrict: como disparar o nome da diretiva */
        restrict: 'E',
        /* template: html da diretiva */
        template: '<h1>Hello {{ MyProperty }}</h1>',
        /* link: manipulação de DOM da diretiva */
        link: function(scope, element, attrs) {
          var i = 0;
          var array = ['green', 'red', 'blue'];

          setInterval(function() {
            $('h1').css('color', array[i]);

            if (i === 3)
              i = 0;
            else
              i++;
          }, 2000);
        }
      };
    }]);

    /*
    * Service
    */
    module.service('MyService', [function() {
      return {
        getNewWorld: function() {
          return "New World!";
        }
      }
    }]);
  </script>
</body>
</html>